# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [ ]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [25]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "C:/Users/angel/OneDrive/Desktop/BootcampFiles/Module 6/Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("C:/Users/angel/OneDrive/Desktop/BootcampFiles/Module 6/Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Los Llanos De Aridane,ES,28.6585,-17.9182,70.12,28,0,10.00,clear sky
1,1,Aasiaat,GL,68.7098,-52.8699,11.26,92,100,5.88,overcast clouds
2,2,Klaksvik,FO,62.2266,-6.5890,49.12,88,67,34.43,light rain
3,3,Cape Town,ZA,-33.9258,18.4232,61.27,72,0,14.97,clear sky
4,4,Cherskiy,RU,68.7500,161.3000,0.68,96,100,4.05,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [26]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?50
What is the maximum temperature you would like for your trip?80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [27]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Los Llanos De Aridane,ES,28.6585,-17.9182,70.12,28,0,10.00,clear sky
3,3,Cape Town,ZA,-33.9258,18.4232,61.27,72,0,14.97,clear sky
6,6,Aldama,MX,22.9167,-98.0667,57.36,59,99,10.22,overcast clouds
7,7,Mataura,NZ,-46.1927,168.8643,58.48,90,100,1.92,overcast clouds
8,8,Dingle,PH,10.9995,122.6711,79.72,88,93,8.21,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [28]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [29]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng
0,Los Llanos De Aridane,ES,70.12,clear sky,28.6585,-17.9182
3,Cape Town,ZA,61.27,clear sky,-33.9258,18.4232
6,Aldama,MX,57.36,overcast clouds,22.9167,-98.0667
7,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643
8,Dingle,PH,79.72,overcast clouds,10.9995,122.6711

In [30]:
## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [31]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Los Llanos De Aridane,ES,70.12,clear sky,28.6585,-17.9182,
3,Cape Town,ZA,61.27,clear sky,-33.9258,18.4232,
6,Aldama,MX,57.36,overcast clouds,22.9167,-98.0667,
7,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,
8,Dingle,PH,79.72,overcast clouds,10.9995,122.6711,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [32]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [33]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Los Llanos De Aridane,ES,70.12,clear sky,28.6585,-17.9182,Valle Aridane
3,Cape Town,ZA,61.27,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
6,Aldama,MX,57.36,overcast clouds,22.9167,-98.0667,CASA CANYE
7,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,Ellie's Villa
8,Dingle,PH,79.72,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [35]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Los Llanos De Aridane,ES,70.12,clear sky,28.6585,-17.9182,Valle Aridane
3,Cape Town,ZA,61.27,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
6,Aldama,MX,57.36,overcast clouds,22.9167,-98.0667,CASA CANYE
7,Mataura,NZ,58.48,overcast clouds,-46.1927,168.8643,Ellie's Villa
8,Dingle,PH,79.72,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
10,Hobart,AU,56.05,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
11,Port Lincoln,AU,60.75,clear sky,-34.7333,135.8667,Port Lincoln Hotel
12,Bata,GQ,76.42,overcast clouds,1.8639,9.7658,Hotel Elik Melen
14,Ushuaia,AR,53.26,broken clouds,-54.8000,-68.3000,Albatross Hotel
15,Rikitea,PF,72.95,moderate rain,-23.1203,-134.9692,People ThankYou

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [36]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [37]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [38]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [39]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Valle Aridane</dd>\n<dt>City</dt><dd>Los Llanos De Aridane</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 61.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CASA CANYE</dd>\n<dt>City</dt><dd>Aldama</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 57.36 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 58.48 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>SEGAYA PROPERTY</dd>\n<dt>City</dt><dd>Dingle</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>St Ives Hobart Accommodation Tasmania</dd>\n<dt>City</dt><dd>Hobart</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 56.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Port Lincoln Hotel</dd>\n<dt>City</dt><dd>Port Lincoln</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 60.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Elik Melen</dd>\n<dt>City</dt><dd>Bata</dd>\n<dt>Country</dt><dd>GQ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 53.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>moderate rain and 72.95 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [40]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   28.6585  -17.9182
3  -33.9258   18.4232
6   22.9167  -98.0667
7  -46.1927  168.8643
8   10.9995  122.6711
10 -42.8794  147.3294
11 -34.7333  135.8667
12   1.8639    9.7658
14 -54.8000  -68.3000
15 -23.1203 -134.9692

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [42]:
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
!jupyter nbextension list